<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.crankshift.faspoof"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />

    <application
        android:label="Fermata Auto Enabler"
        android:hasCode="true">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Enables the Fermata Auto video player in the Android Auto launcher. Affects Android Auto only." />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedscope" android:resource="@array/xposedscope" />
    </application>
</manifest>
